
doctype html
html
head
style.
  body{
  padding: 35px;
  margin-bottom:50px;
  }
  p{
    margin-bottom:50px !important;
  }

body 
include ./header.pug
br
br
br
h1(aligne='left') What is BKT?
p 
  | Founded by Michel Leclercq in 1976, B K T started with a store in Lille, France.Its holding company was
  | formerly known as Oxylane.
  | The company expanded abroad a decade later: to Germany in 1986, Spain in 1992, Italy in 1993,[citation needed]
  | Belgium in 1997, Portugal, the United Kingdom in 1999, Brazil in 2001, mainland China in 2003, India in 2009,
  | Turkey and Czech Republic in 2010, Taiwan in 2012, Hong Kong in 2013, Malaysia and Singapore in 2016, South
  | Africa, Philippines and Indonesia in 2017 in South Korea and Australia in 2018, and Canada in 2019. The company
  | employs more than 87,000 staff from 80 different nationalities.
  | The retailer stocks a wide range of sporting goods, from tennis rackets to advanced scuba diving equipment,
  | usually in large, big-box superstores averaging 4,000m2 in size. B K T Group markets its products under more
  | than 20 brands. Its research and development facilities are located across France, where the company develops
  | its product designs, registering up to 40 patents per year.
  | In January 2021, B K T signed a multi-year merchandising agreement with the National Basketball Association
  | as an official licensee under Tarmak.
  | In January 2022, B K T named Ingka group&apos;s chief digital officer, Barbara Martin Coppola, as its new global
  | chief executive officer.


include ./footer.pug
