doctype html
head
  style.
    body{
      margin:10px;
    }
    body{
        padding:2px;
        display:center;
        margin:10px;
    }
    div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: center ;
    display: inline-flex;;
    width: 180px;
    }
    div.gallery:hover {
    border: 1px solid #777;
    }
    div.gallery img {
    width: 100%;
    height: auto;
    display:center;
    }
    div.desc {
    padding: 100px;
    text-align: center;
    }
include ./header.pug   
br
br
br 
.gallery
  a(target='_blank' href='img_mountains.jpg')
    img(src='/static/d.jpg' alt='Mountains' width='600' height='400')
.gallery
  a(target='_blank' href='img_mountains.jpg')
    img(src='/static/d.jpg' alt='Mountains' width='600' height='400')
.gallery
  a(target='_blank' href='img_mountains.jpg')
    img(src='/static/d.jpg' alt='Mountains' width='600' height='400')
.gallery
  a(target='_blank' href='img_mountains.jpg')
    img(src='/static/d.jpg' alt='Mountains' width='600' height='400')
.gallery
  a(target='_blank' href='img_mountains.jpg')
    img(src='/static/d.jpg' alt='Mountains' width='600' height='400')
.gallery
  a(target='_blank' href='img_mountains.jpg')
    img(src='/static/d.jpg' alt='Mountains' width='600' height='400')
.gallery
  a(target='_blank' href='img_mountains.jpg')
    img(src='/static/d.jpg' alt='Mountains' width='600' height='400')
br
br
br
include ./footer.pug

