<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body style="background-color: wheat">
    {{> navbar}}
<h2 class="text-center m-1 h1">ABOUT NEOSOFT</h2>

<div class="mt-4 p-5  m-3">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p> 
  </div>

<div class="container-fluid">
    <div class="row g-0">
        
</div>

<div class="container-fluid">
    <div class="row g-0">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore id reprehenderit eligendi velit sequi voluptates tempore quae itaque ea maiores deleniti dolorum, autem asperiores nulla earum nisi iste! Eligendi, amet?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo earum accusamus eos quae, inventore nihil neque hic aspernatur, et pariatur blanditiis veniam iste accusantium est voluptatibus perspiciatis minus quaerat! Veniam!Lorem

        <div >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum suscipit velit, quas numquam sed pariatur harum dolor amet. Deserunt non consequuntur unde accusamus alias cum ab necessitatibus nesciunt. Architecto, tenetur?</div>
        <div >Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis maiores magnam aut quia ea assumenda odio illum sit dolorem rerum. Assumenda magni pariatur rerum eum velit atque commodi iusto cupiditate.</div>
    </div>
</div>

{{> footer}}
</body>
</html>

