<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body style="background-color:aqua;">
    {{> navbar}}
{{!-- Rendering Registration in Welcomepage --}}

{{#if registrationToken}}
<div class="container mt-3">
    <h3 class="text-center">Registeration Successfull</h3>
</div>
{{/if}}

{{!-- -------------------------------------------------------------------------}}

{{!-- Rendering login in Welcomepage --}}

{{#if email}}
{{#if username}}
<div class="container">
    <h2 class="m-4 text-center">Welcome </h2>

    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-info">
                <td>{{username}}</td>
                <td>{{email}}</td>
            </tr>
        </tbody>
    </table>
</div>
{{/if}}
{{/if}}

{{!-- -------------------------------------------------------------------------}}

{{!-- Rendering Invalid Params request in Welcomepage --}}
{{#if invalidToken}}
<h2 class="text-center h2 alert-info">{{invalidToken}}</h2>
<div class="alert alert-danger">
    <strong>{{invalidToken}}</strong> invalid params
</div>
{{/if}}

{{> footer}}
</body>
</html>


